.avatar
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 300px;
    float: left;
}

.name
{
    display: inline-block;
    margin-top: 150px;
    margin-left: 150px;
    color: green;
}

.title
{
    display: inline-block;
    margin-left: 150px;
    color: lawngreen;
    font-size: 20px;
}

.media
{
    margin-left: 800px;
    margin-bottom: 50px;
}

.info
{
    color: darkslategrey;
    padding-left: 300px;
    padding-right: 200px;
}

.details
{
    color: darkslategrey;
    padding-left: 640px;
    padding-right: 400px;
}

.subtitle
{
    font-size: 15px;
    color: green;
}

.text
{
    text-align: justify;
    margin-right: 50px;
}

#btn
{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

#resume-link:link, #resume-link:visited, #resume-link:active
{
    text-decoration:none;
    color: white;
}

meter
{
    height: 30px;
    width: 1000px;
}

meter::-webkit-meter-optimum-value
{
    background: green;
}

footer
{
    background-color: grey;
    color: white;
    text-align: center;
    height: 70px;
    padding-top: 15px;
    margin-top: -15px;
}